/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.accueil {
	-fx-border-color: black;
	-fx-border-width: 3px;
	-fx-border-radius: 30px;
}

.puzzle {
	-fx-background-color: #D1AD2C;
}

.fond {
	-fx-background-color: #380615;
}

Button {
	-fx-background-color: none;
	-fx-background-radius: 30px;
}

.bt {
	-fx-background-color: #E9E9E9;
}